<div class="ffff">
  <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card login-card">
        <div class="row no-gutters">
          <!--<div class="col-md-5">
              <img src="assets/images/flame-1235.png" alt="login" class="login-card-img">
            </div>
			-->
          <div class="col-md-12">
            <div class="card-body" id="main_div">
              <div class="brand-wrapper">
                <img src="assets/images/flame-1208.png" alt="logo" class="logo">
              </div>
              <p class="login-card-description">Change Password</p>

              <div class="form-group mb-4">
                <label for="email" class="sr-only">email</label>
                <input type="email" [(ngModel)]="Data.email" class="form-control" name="email" required
                  placeholder="Enter Email">
              </div>
              <div class="form-group mb-4" id="send_otp">
                <input name="send_otp" id="send_otp" class="btn btn-block login-btn mb-4" (click)="send_otp()"
                  type="button" value="Send OTP">
              </div>
              <div class="form-group" id="otp_div" hidden="true">
                <label for="otp" class="sr-only">otp</label>
                <input type="text" id="otp" [(ngModel)]="entered_otp" class="form-control" name="otp" required
                  placeholder="Enter otp">
              </div>
              <div class="form-group" id="verify_otp" hidden="true">
                <input name="verify_otp" id="verify_otp" class="btn btn-block login-btn mb-4" (click)="verify_otp()"
                  type="button" value="Verify OTP">
              </div>
              <div class="form-group" id="password" hidden="true">
                <label for="password" class="sr-only">Password</label>
                <input type="password" class="form-control" [(ngModel)]="password" name="password" required
                  placeholder="Enter Password">
              </div>
              <div class="form-group" id="confirm_password" hidden="true">
                <label for="confirm_password" class="sr-only">Confirm Password</label>
                <input type="password" class="form-control" [(ngModel)]="confirm_password" name="confirm_password"
                  required placeholder="Confirm Password">
              </div>
              <div class="form-group" id="update_password" hidden="true">
                <input name="update_password" id="update_password_btn" class="btn btn-block login-btn mb-4"
                  (click)="updatePassword()" type="button" value="Update Password">
              </div>


              <a routerLink="/login" class="login-card-footer-text">Go back to Login</a>

            </div>
            <label id="message" style="color: red; padding: 20px 20px 20px;"></label>
            <label id="message2" style="color: springgreen; font-size: large; padding: 30px 30px 30px;"></label>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
